<div class="sidebar">
  <!-- Sidebar Logo -->
  
  <!-- Navigation Links -->
  <nav>
    <ul>
      <!-- Use routerLink for better Angular routing -->
      <li>
        <a routerLink="/user/userdashboard"> Dashboard</a>
      </li>
      <li>
        <a routerLink="/user/create-project">Create Project</a>
      </li>
      <li>
        <a routerLink ="/user/team-dashboard">create Teams </a>
      </li>
    <hr>
    <li>
      <button class="logout-button" (click)="logout()">Logout</button>
    </li>
      
    </ul>
  </nav>

  <!-- Divider -->
  <div class="divider"></div>

  

  
</div>
