<div class="sidebar">
  <!-- Sidebar Logo -->
  <div class="logo">Gestion de tache</div>

  <!-- Navigation Links -->
  <nav>
    <ul>
      <!-- Use routerLink for better Angular routing -->
      <li>
        <a routerLink="/user/userdashboard">📊 Dashboard</a>
      </li>
      <li>
        <a routerLink="/user/create-project">Create Project</a>
      </li>
      <li>
        <a routerLink ="/user/team-dashboard">create Teams </a>
      </li>
      
    </ul>
  </nav>

  <!-- Divider -->
  <div class="divider"></div>

  
</div>
